*{
    box-sizing: border-box;
    margin: 0;
    padding:0;
}

#TotalContainer{
    padding: 15px;
}

header{
    background-color:yellow;
    height: 120px;
    margin-bottom: 5px;
}

#MainContainer{
    margin-bottom: 5px;
}

#MainContainer::after {
        content:'';
        display: table;
        clear:both;
}

aside, main, section {
    float: left;
}

.pink{
    background-color: pink;
}

aside{
    width: 25%;
}

aside.left{
    height: 330px;
}

aside.right{
    height:400px;
}

main{
    background-color: purple;
    height: 400px;
    width: calc(50% - 20px);
    margin: 0 10px;
}

section{
    width:100%;
    height:180px;
}

section.bottom{
    margin-top: 10px;
}

footer {
    background-color: lightblue;
    height: 70px;
}
